---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Estampas Andinas por Orestes Damián">
  <main>
    <div class="absolute w-screen h-screen z-0 overflow-hidden">
      <img
        class="object-cover w-full h-full object-center md:scale-100 brightness-90 md:brightness-95"
        src="Assets/bg.webp"
        alt="Tarma Estampas Andinas"
      />
    </div>
    <div
      class="absolute w-screen h-screen bg-gradient-to-b md:bg-gradient-to-r from-black via-transparent to-transparent opacity-50"
    >
    </div>
    <div class="mx-auto max-w-[1200px] md:px-12">
      <div class="grid md:grid-cols-2 md:place-items-center md:h-screen">
        <div>
          <div class="relative">
            <div class="flex items-center flex-col md:items-start">
              <div class="hidden md:block">
                <h1 class="text-white font-bold text-7xl">Estampas Andinas</h1>
                <p class="text-white font-bold text-2xl py-8 w-[60%]">
                  Música andina, huaynos tarmeños y más.
                </p>
              </div>
              <img
                src="Assets/estampa-figma.webp"
                class="w-80 pb-10 pt-14 md:pt-0 md:pb-8 md:hidden"
                alt="Estampas Andinas"
              />
              <img
                src="Assets/estampa-desktop.webp"
                class="w-80 pb-10 pt-14 md:pt-0 md:pb-8 hidden md:block md:w-[80%] -translate-x-10"
                alt="Estampas Andinas"
              />
              <p
                class="text-2xl text-white drop-shadow-2xl w-[60%] text-center pb-2 md:hidden"
              >
                De lunes a viernes desde las 7am
              </p>
            </div>
          </div>
        </div>
        <div class="relative flex flex-col items-center mx-auto px-6">
          <div
            class="rounded-t-2xl px-4 pt-4 border border-gray-500 backdrop-blur-2xl backdrop-brightness-80"
          >
            <iframe
              src="https://s32.radiolize.com/public/estampas_andinas_4jpneu/embed?theme=light"
              class="w-full min-h-[140px]"></iframe>
          </div>
          <div
            class="bg-gray-100 mb-8 rounded-b-2xl border-t-0 border-gray-500 border overflow-hidden w-full"
          >
            <iframe
              src="https://s32.radiolize.com/public/estampas_andinas_4jpneu/history?theme=light"
              class="w-full h-[100px] md:h-[300px] pt-4 pl-1"></iframe>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style></style>
