---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Estampas Andinas por Orestes Damián">
  <main>
    <div class="absolute w-screen h-screen z-0 overflow-hidden">
      <img
        class="object-cover w-full h-full object-center scale-150 brightness-90"
        src="assets/tarma.webp"
        alt="Tarma Estampas Andinas"
      />
    </div>
    <!-- Create a mask of the background that is a gradient that start on black to transparent with low opacity -->
    <div
      class="absolute w-screen h-screen bg-gradient-to-b from-black via-transparent to-transparent opacity-35"
    >
    </div>
    <div class="relative">
      <div class="flex items-center flex-col">
        <img
          src="assets/estampas-figma.png"
          class="w-80 py-10 pt-14"
          alt="Estampas Andinas"
        />
        <p class="text-2xl text-white drop-shadow-2xl w-[60%] text-center pb-2">
          De lunes a viernes desde las 7am
        </p>
      </div>
    </div>
    <div class="relative flex flex-col items-center">
      <div
        class="rounded-t-2xl px-4 pt-4 border border-gray-500 backdrop-blur-2xl backdrop-brightness-80 w-[80%]"
      >
        <iframe
          src="https://s32.radiolize.com/public/estampas_andinas_4jpneu/embed?theme=light"
          class="w-full min-h-[140px]"></iframe>
      </div>
      <div
        class="bg-gray-100 mb-8 rounded-b-2xl border-t-0 border-gray-500 border overflow-hidden"
      >
        <iframe
          src="https://s32.radiolize.com/public/estampas_andinas_4jpneu/history?theme=light"
          class="w-full h-[100px] pt-4 pl-1"></iframe>
      </div>
    </div>
  </main>
</Layout>

<style></style>
